.box {
  display: inline-block;
  position: absolute;
}
#winbox {
  height: 45px;
  width: 45px;
  left: 75px;
  top: 175px;
}
#win {
  color: red;
}
#lose {
  color: red;
}

#box1 {
  height: 15px;
  width: 420px;
  left: 200px;
  top: 0px;
}

#box2 {
  background-color: red;
  height: 50px;
  width: 50px;
  left: 50px;
  top: 100px;
}
#box3 {
  height: 420px;
  width: 20px;
  left: 200px;
  top: 70px;
}
#box4 {
  height: 240px;
  width: 20px;
  left: 280px;
  top: 15px;
}
#box5 {
  height: 150px;
  width: 20px;
  left: 280px;
  top: 410px;
}
#box6 {
  height: 20px;
  width: 200px;
  left: 0px;
}
#box7 {
  height: 10px;
  width: 150px;
  left: 300px;
  top: 150px;
}
#box8 {
  height: 270px;
  width: 20px;
  left: 380px;
  top: 220px;
}
#box9 {
  height: 555px;
  width: 20px;
  left: 600px;
  top: 15px;
}
#box10 {
  height: 20px;
  width: 200px;
  left: 200px;
  top: 320px;
}
#box11 {
  height: 575px;
  width: 5px;
  left: 0px;
  top: 0px;
}
#box12 {
  height: 20px;
  width: 620px;
  top: 555px;
  left: 0;
}
#box13 {
  height: 20px;
  width: 130px;
  top: 220px;
  left: 400px;
}
#box14 {
  height: 140px;
  width: 20px;
  left: 510px;
  top: 80px;
}
#box15 {
  height: 20px;
  width: 160px;
  top: 75px;
  left: 370px;
}
#box16 {
  height: 20px;
  width: 125px;
  top: 320px;
  left: 475px;
}
#box17 {
  height: 20px;
  width: 150px;
  top: 420px;
  left: 380px;
}
#box18 {
  height: 200px;
  width: 74px;
  top: 290px;
  left: 130px;
}
#box19 {
  height: 200px;
  width: 74px;
  top: 290px;
  left: 2px;
}
.collision-state {
  background-color: green;
}

.no-collision-state {
  background-color: blue;
}
.no-collision-state2 {
  background-color: green;
}

