.box {
  height: 100px;
  width: 100px;
  display: inline-block;
  position: absolute;
}

#box1 {
  left: 200px;
  top: 200px;
}

#box2 {
  background-color: red;
  left: 200px;
  top: 50px;
}

.collision-state {
  background-color: green;
}

.no-collision-state {
  background-color: blue;
}

